.header{
    flex:1;
    display:flex;
    margin-bottom:auto;
    background-color:#1F2937;
}
.left-side {
    margin-left:200px;
    font-size:24px;
    color:#f9faf8;
}

.right-side{
    margin-left: 400px;
    margin-bottom:auto;
 
}

ul{
    display:flex;
    flex-direction:row;
    list-style: none;
    font-size:18px;
    gap:20px;
}

a{
    text-decoration:none;
    color:#E5E7EB;
}

.left-side,.right-side {
    display:flex;
    align-items:center;
}

.signup{
    background-color:#1F2937;
}

.top-text{
    font-size:48px;
    font-weight:400;
    color:#F9FAF8;
    margin-bottom:0;
}

.bottom-text{
    font-size:18px;
    color:#f9faf8;
    margin-top:0;
}

.quote{
    background-color:#e5e7eb;
    font-size:36px;
    font-style:light italic;
    color:#1F2937;
}
